.serviceContainer {
  max-width: 1355px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.serviceWrapper {
  width: 100%;
}

.serviceBoxWrapper {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.serviceBoxContainer {
  /* it's an individual box */
  width: 280px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid var(--line-color);
  position: relative;
}

/* extra service image */
.extraServiceImg {
  width: 100%;
  height: 70%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.serviceBox {
  padding: 0px 0px 5px 20px;
  width: 65%;
}

.extraServiceIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  position: absolute;
  top: 122px;
  right: 20px;
  border: 1px solid var(--line-color);
  padding: 8px;
  border-radius: 50%;
  background-color: var(--logo-color-light);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media screen and (max-width: 1711px) {
  .serviceBoxWrapper {
    gap: 2vw;
  }
}

@media screen and (max-width: 735px) {
  .serviceBoxWrapper {
    justify-content: space-evenly;
  }
}
